* {
  box-sizing: border-box;
  font-family: "Merriweather", serif;
  font-size: 20px;
}

.header__title {
  display: flex;
  background-color: rgb(21, 35, 53);
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  height: 3rem;
}

.header__title h2 {
  font-size: 1rem;
  margin: auto;
}

.title {
  padding: 1rem 2rem;
}

.title__h1 {
  font-size: 1rem;
  text-align: center;
}

.title__p {
  font-weight: 300;
  text-align: center;
  font-size: 0.75rem;
}

.first_hr {
  margin: 0 1rem;
  height: 0.2rem;
  background-color: rgb(21, 35, 53);
  border: none;
}

.second_hr {
  margin: 0.25rem 1rem;
  height: 0.1rem;
  background-color: rgb(21, 35, 53);
  border: none;
}

fieldset {
  border: none;
}

.form__title {
  display: block;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 1rem 0;
  color: rgb(21, 35, 53);
}

label {
  font-weight: 300;
  font-size: 1rem;
  color: rgb(103, 118, 136);
}

.fieldset--1 input,
.fieldset--1 select,
.fieldset--2 textarea {
  background-color: rgb(214, 214, 214);
  color: rgb(163, 163, 163);
  border: none;
  border-radius: 0.25rem;
  padding: 1rem;
  margin: 1rem 0;
  width: 100%;
}
input::placeholder {
  text-align: end;
  font-style: italic;
  font-size: 0.75rem;
}

.fieldset--1__zip {
  display: block;
  width: 50%;
}

.fieldset--2__p {
  display: block;
}

.fieldset--2 input {
  margin-right: 0.75rem;
}

.fieldset--2 input,
.fieldset--2 label {
  margin: 0.75rem 0 0.75rem 1rem;
}

form {
  padding: 0 1rem;
}

.fieldset--2 {
  margin: 0;
  padding: 0;
}

button {
  background-color: rgb(10, 196, 171);
  color: #fff;
  width: 100%;
  height: 3rem;
  border: none;
  border-radius: 0.25rem;
  font-weight: 700;
}

footer p {
  height: 3rem;
  padding: 0 2rem;
  font-weight: 400;
  font-style: italic;
  font-size: 0.75rem;
  color: rgb(163, 163, 163);
  text-align: center;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 8%;
    margin-top: 1rem;
  }

  .fieldset--1 {
    margin-top: 1rem;
  }

  .flex-container {
    display: flex;
    flex: 1 50%;
    flex-wrap: wrap;
  }

  .item1 {
    flex: 1 100%;
  }

  .item2,
  .item4,
  .item6,
  .item8,
  .item10,
  .item12 {
    flex: 1 25%;
    align-self: center;
  }

  .item3,
  .item5,
  .item7,
  .item9,
  .item11,
  .item13 {
    flex: 1 75%;
  }

  .item12 {
    max-width: 25%;
  }

  .item13 {
    max-width: 25%;
  }
}
